terraform/**/.terraform
terraform/**/.terraform.lock.hcl
terraform/**/*.plan
terraform/**/*.tfplan
terraform/**/*.tfvars
!terraform/**/example.tfvars
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup